@import '../lib/themes';
body.themed.light-theme {
  @include light-theme;
  background-color: $background-color;
  color: $on-background-color;
}

body.themed.dark-theme {
  @include dark-theme;
  background-color: $background-color;
  color: $on-background-color;
}

//body.light-theme, body.dark-theme {
//  background-color: $background-color;
//  color: $on-background-color;
//}

body {
  max-width: 800px;
  margin: 0 auto;
  padding: 5vw;
  font-family: Roboto, Helvetica, Arial, sans-serif;
}