@import '../lib/themes';
@import 'package:angular_components/css/material/shadow';
@import 'package:angular_components/material_button/mixins';

* {
  @include themify {
    background-color: themed('backgroundColor');
    color: themed('onBackgroundColor');
    font: themed2('body1', 'font');
  }
}

button, .button, .primary-button, .secondary-button {
  @include material-button;
}
.primary-button {
  @include shadow-elevation(8);
}
.secondary-button {
  //@include shadow-elevation(2);
}

body {
  max-width: 800px;
  margin: 0 auto;
  padding: 5vw;
  //font-family: Roboto, Helvetica, Arial, sans-serif;
}
